<!DOCTYPE html>
<html lang=ja>
	<head>
		<meta charset=UTF-8>
		<meta name=viewport content="width=device-width, initial-scale=1.0">
		<meta property=og:type content=website>
		<meta property=og:title content=EEWBot>
		<meta property=og:site_name content=EEWBot>
		<meta property=og:image content=https://eewbot.net/imgs/VERSION/eewbot.ogp.png>
		<meta name=twitter:card content=summary_large_image>
		<link rel=icon href=/imgs/VERSION/eewbot.png>
		<title>EEWBot</title>
		<link rel=stylesheet href=style.css>
	</head>
	<body>
		<header>
			<a href=/><img src=imgs/VERSION/eewbot.png></a><a href=/>EEWBot</a>
		</header>
		<main>
			<div class=container>
				<h1>EEWBot</h1>
				<p>Project DM-D.S.Sをデータソースとした、Discord向け緊急地震速報Botです。</p>

				<h2>Bot導入方法</h2>
				<p>EEWBotをご自分のDiscordサーバー (ギルド) に導入する場合は、「<b><a href="https://discord.com/api/oauth2/authorize?client_id=329257498668302346&permissions=275414829120&scope=bot%20applications.commands">Bot招待リンク</a></b>」よりどうぞ。</p>
				<p>初めての方は、「<a href=https://github.com/EEWBot/EEWBot/wiki/%E3%83%81%E3%83%A5%E3%83%BC%E3%83%88%E3%83%AA%E3%82%A2%E3%83%AB><b>チュートリアル</b></a>」をどうぞ。</p>
				
				<h2>お困りの際は</h2>
				<p>お困りの際は、「<b><a href=https://discord.gg/upt9n86ctG>公式Discordサーバー</a></b>」までどうぞ。</p>
				<p>開発者が直接お答えします。</p>

				<h2>その他のリンク</h2>
				<ul>
					<li>セルフホストガイド: <a href=https://github.com/EEWBot/EEWBot/wiki/Bot%E3%82%92%E3%83%9B%E3%82%B9%E3%83%88%E3%81%99%E3%82%8B>Botをホストする</a></li>
					<li>GitHub (Organization): <a href=https://github.com/EEWBot>EEWBot</a></li>
					<li>GitHub (Bot): <a href=https://github.com/EEWBot/EEWBot>EEWBot/EEWBot</a></li>
				</ul>
			</div>
		</main>
		<footer>
			Copyright &copy; EEWBot 2024
		</footer>
	</body>
</html>
