<!DOCTYPE html>
<html lang=ja>
	<head>
		<meta charset=UTF-8>
		<meta name=viewport content="width=device-width, initial-scale=1.0">
		<meta property=og:type content=website>
		<meta property=og:title content="EEWBot - 免責事項">
		<meta property=og:site_name content=EEWBot>
		<meta property=og:image content=https://eewbot.net/imgs/ogp.png?RESOURCES_VERSION>
		<meta name=twitter:card content=summary_large_image>
		<link rel=icon href=/imgs/icon.png?RESOURCES_VERSION>
		<title>EEWBot - 免責事項</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Exo+2:ital,wght@1,700&display=swap" rel="stylesheet">
		<link rel=stylesheet href=/style.css>
	</head>
	<body style="margin: 0; padding: 0;">
		<header></header>
		<main>
			<div class=container>
				<h1>Botの利用における免責事項</h1>
				
				<section>
					<p>本ボットアプリケーション（以下、「本Bot」）は、緊急地震速報を始めとする、自然災害情報等をDiscordに投稿するボットです。本Botは適切な情報の提供を目指していますが、その完全性、信頼性、即時性、または正確性を保証するものではありません。</p>
				</section>

				<section>
					<p>本Botの利用者は、本Botや本Botが発信する情報を自己の責任で利用するものとします。当Botに関連して利用者が被ったいかなる損害について、当Botの運用者は一切の責任を負わないものとします。</p>
				</section>

				<section>
					<p>災害発生時には政府機関や自治体が発表する情報等、信頼できる情報を必ず併せて確認し、必要に応じて速やかに避難等を行ってください。</p>
				</section>

				<section>
					<p>ソフトウェアのライセンスに関して、<a href="https://github.com/EEWBot/EEWBot/blob/master/LICENSE.md" target="_blank" rel="noopener noreferrer">こちら</a>もご確認下さい。</p>
				</section>
			</div>
		</main>
		<footer></footer>
	</body>
</html>
